<div class="row">
  <div class="col-md-5 text-center col-md-offset-1 location">
    <%= image_tag("locations.png") %>
    <br/>
    <h1>
      台灣健康檢查比較台
    </h1>
  </div>
  <div class="col-md-5 location_search">
    <div class="row">
      <div class="col-md-12 ">
        <%= form_tag searchs_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder:'輸入關鍵字', class:'form-control', style: 'width: 100%; height: 44px' %>
          <br/>
          <%= submit_tag "全 站 搜 尋", :name => nil, class:'btn btn-success', style: 'width: 100%; height: 44px' %>
        <% end %>
      <br/>
      </div>
      <% @locations.each do |location| %>
        <div class="col-xs-6 col-sm-4 col-md-4">
          <%= link_to location.name, hospitals_path(location: location), class: 'location_tag' %>
          <%= content_tag :span, class:'badge' do %>
            <%= location.hospitals.count %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
