<div class="col-md-8 col-md-offset-2">
  <h3>歡迎聯絡 RubyJJ紅寶石健檢</h3>
  <%= simple_form_for @contact do |f| %>
    <%= f.input :name, label:'您的稱呼' %>
    <%= f.input :email, label:'您的聯絡信箱' %>
    <%= f.input :message, as: :text, label:'您的聯絡訊息' %>
    <%= recaptcha_tags  :display => {theme: 'white'} %>
    <%= f.button :submit, '發出訊息', {class: 'btn btn-success'} %>
  <% end %>
</div>
