<% breadcrumb :tekmqbs_exam, @exam %>
<h2><%= @exam.name %></h2>
<%= form_for [:dashboard, :tekmqbs, @exam] do |new| %>
<%= link_to '回上一頁', edit_dashboard_tekmqbs_hospital_path(@exam.hospital) %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <tbody>
      <% @items.select(:group).uniq.each do |item| %>
        <tr>
          <td style="width:46px">類別</td>
          <td>
            <%= item.group %></td>
        </tr>
        <tr>
          <td>項目</td>
          <td>
            <fieldset>
              <input type="checkbox"  class="checkall"> 全選 | 
              <%= new.collection_check_boxes(:item_ids, @items.where(group:"#{item.group}"), :id, :name) %>
            </fieldset>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="clearfix form-actions">
    <div class="col-md-offset-3 col-md-9">
      <%= new.submit '更新套餐健檢項目', class:'btn btn-info' %>
    </div>
  </div>
<% end %>

<script type='text/javascript'>
  $(function () {
      $('.checkall').on('click', function () {
          $(this).closest('fieldset').find(':checkbox').prop('checked', this.checked);
      });
  });
</script>
