<h1>
  <span class="glyphicon glyphicon-map-marker"></span>
  <%= @location.name %> 健康檢查服務醫院
</h1>
<p class="text-right">
   <span class="glyphicon glyphicon-circle-arrow-left"></span>
     <%= link_to '回到上一頁', '/' %>
</p>
<div class="row card">
<% @hospitals.each do |hospital| %>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="hospital_list">
      <table class="table">
        <thead>
          <tr>
            <td width="46px"> <%= image_tag("ruby_plus.png") %></td>
            <td> <%= hospital.name %> </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>地址</td>
            <td><%= hospital.address %></td>
          </tr>
          <tr>
            <td>電話</td>
            <td><%= hospital.phone %></td>
          </tr>
          <tr>
            <td>網站</td>
            <td><%= link_to '進入網站', hospital.web, target:"_blank" %></td>
          </tr>
          <tr>
            <td>健檢
            </td>
            <td>熱門套餐
              <ul>
              <% hospital.exams.order("rand()").limit(4).each do |exam| %>
                <li>
                <%= content_tag :a, data: {toggle: "modal", target:"\#m#{exam.id}"} do %>
                  <%= exam.name[0..11] %>
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" style="color:#d26e5c"></span>
                <% end %>
                </li>
                <%= content_tag :div, id: "m#{exam.id}", tabindex:"-1", role: "dialog", aria: { labelledby: "m#{exam.id}Label", hidden: "true"}, class:"modal fade" do %>
                  <%= render 'exam_items', exam: exam %>
                <% end %>
              <% end %>
              <li><%= link_to '查看更多', exams_path(hospital: hospital), class:'' %>
                  <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" style="color:#d26e5c"></span>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
</div>
