<% breadcrumb :hospital, @hospital %>
<h1>
  <span class="glyphicon glyphicon-plus-sign"></span>
  <%= @hospital.name %>
</h1>
<p class="text-right">
  <span class="glyphicon glyphicon-circle-arrow-left"></span>
  <%= link_to '回到上一頁', location_hospitals_path(@hospital.location) %>
</p>
<div class="row card">
<% @exams.each do |exam| %>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="exam_list">
      <table class="table">
        <thead>
          <tr>
           <td width="46px"> <%= image_tag("doc_plus.png") %></td>
            <td> <%= exam.name %> </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>性別</td>
            <td><%= exam.gender %></td>
          </tr>
          <tr>
            <td>費用</td>
            <td><%= number_to_currency exam.price %></td>
          </tr>
          <tr>
            <td>健檢
            </td>
            <td>
              <%= content_tag :a,data: {toggle: "modal", target: "\#m#{exam.id}"} do %>
                項目清單
                  共 <%= exam.items.count %> 項
                <span class="glyphicon glyphicon-modal-window" aria-hidden="true" style="color:#d26e5c"></span>
              <% end %>
              <%= content_tag :div,id:"m#{exam.id}", tabindex:"-1", role:"dialog",aria: {labelledby:"m#{exam.id}Label", hidden:"true"} , class:"modal fade" do %>
                <% render 'exam_items', exam: exam  %>
              <% end %>
            </td>
          </tr>
          <!--
          <tr>
            <td colspan="2" style="text-align:center">
              <% content_tag :button,'我要預約', class:"btn btn-success", data: {toggle: "modal", target:"\#m#{exam.id}"}, style: "width:100%" %>
            </td>
          </tr>
          -->
        </tbody>
      </table>
    </div>
  </div>
<% end %>
</div>
<div>
  <%= paginate @exams,:outer_window => 1, :window => 2 %>
</div>
