<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
      <h2>
        <%= image_tag("doc_plus.png") %>
        <%= exam.name %>
      </h2>
    </div>
    <div class="modal-header">
      <div class="exam-detail">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <%= exam.hospital.name %>
            <button id="hospital-d" type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              醫院資訊
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu list-group" role="menu" area-labelledby="hospital-d">
              <li class="list-group-item">
                <span class="glyphicon glyphicon-earphone"></span> 
                電話：<%= exam.hospital.phone %>
              </li>
              <li class="list-group-item">
                <span class="glyphicon glyphicon-road"></span> 
                地址：<%= exam.hospital.address %>
              </li>
              <li class="list-group-item">
                <span class="glyphicon glyphicon-new-window"></span> 
                網址：<%= link_to '進入醫院網站', exam.hospital.web, target:'_blank' %>
              </li>
            </ul>
          </div>
        </div >
      </div>
    </div>
    <div class="modal-header">
      <div class="row">
        <div class="exam-detail">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-credit-card"></span>
            費用： <%= number_to_currency exam.price, precision:0 %>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-user"></span>
            性別：<%= exam.gender %>
          </div>
        </div >
      </div>
    </div>
    <div class="modal-body">
      <span class="glyphicon glyphicon-list-alt"></span>
      健檢項目：共 <%= exam.items.count %> 項
      <div class="row">
      <% exam.items.select(:group).uniq.each do |u| %>
        <div class="col-md-12"> 
          <h3><%= u.group %></h3>
        </div>
        <% exam.items.where(group:"#{u.group}").each do |i| %>
          <div class="col-md-6">
            <li><%= i.name %></li>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
