<!DOCTYPE html>
<html>
<head>
  <title>Humandock</title>
  <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin_application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag  %>
</head>
<body>
  <%= render 'navbar' %>
  <div class="container">
    <%= render 'flash' %>
    <%= yield %>
  </div>

  <%= render 'footer' %>
</body>
</html>
