<!DOCTYPE html>
<html>
<head>
  <title>Humandock</title>
  <%= stylesheet_link_tag    '/adassets/stylesheets/bootstrap.min'  %>
  <%= stylesheet_link_tag    '/adassets/stylesheets/font-awesome', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
  <%= stylesheet_link_tag    '/adassets/stylesheets/ace.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/adassets/stylesheets/ace-rtl.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '/adassets/stylesheets/ace-skins.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/adassets/javascripts/ace-extra.min' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%= javascript_include_tag 'admin_application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag  %>
</head>
<body>
  <%= render 'application/admin_navbar' %>
  <div class="main-container" id="main-container">
    <%= render 'application/admin_sidebar' %>
    <div class="main-content">
      <%= render 'application/admin_breadcrumb' %>
      <div class="page-content">
        <%= render 'application/flash' %>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag '/adassets/javascripts/bootstrap.min'  %>
  <%= javascript_include_tag '/adassets/javascripts/ace-elements.min' %>
  <%= javascript_include_tag '/adassets/javascripts/ace.min' %>
</body>
</html>
